.main-container{
  display:grid;
display:flex;
flex-direction: rows;
flex-wrap: wrap;
align-items: center;
justify-content: center;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1535119512-9e6a24a532c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") center center/cover no-repeat;
  filter: grayscale(100%);
}

.buttons{
  padding:10px;
  

  text-decoration: none;



  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;

  /* make sure colors have enough contrast! */
  color:yellow;
  background-color: #9555af;
  margin:5px;
}